@model IEnumerable<DataAccessLayer.Models.Category>

<ul class="product-categories-menu">
    @foreach (var category in Model)
    {
        <li class="category-menu-item position-relative">
            <span class="category-label">@category.Name</span>
            @if (category.Products != null && category.Products.Any())
            {
                <ul class="category-flyout">
                    @foreach (var product in category.Products)
                    {
                        <li class="category-flyout-item">
                            <a href="/Product/@product.Id" class="text-decoration-none text-dark">@product.Name</a>
                        </li>
                    }
                </ul>
            }
        </li>
    }
</ul>